<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="ParallelTests" parallel="classes" thread-count="4">
        <groups>
            <run>
                <include name="e2e"/>
            </run>
        </groups>
        <classes>
            <class name="CartOperationsTest"/>
            <class name="CartDeletionIdempotencyTest"/>
            <class name="UserProfileUpdateWithPATCH"/>
        </classes>
    </test>
</suite>